@charset "utf-8";

*{vertical-align:top; _box-sizing:border-box;}
body{font-family: 'Noto Sans KR', sans-serif; background-color:#e5e5e5; color:#333;}
p{margin-bottom:0;}
span.bold{font-weight:bold;}
h5{text-align:center;}
h5>a>i{margin-top:5px; margin-left:5px; font-size:14px;}
header{z-index:100;}
a{text-decoration:none;}
a:link, a:visited, a{color:#333;}

/*------부트스트렙 설정 변경 css-------*/
.btn{padding:0;}
.row{margin:0;}
.nav-link{padding:0.3rem 0.8rem;}
.form-check-inline{margin:0;}
.form-check-inline .form-check-input{margin:0;}
/*------------------------------
-----------토글 디자인-----------
------------------------------*/
#header_bar{position:fixed; width:100%; z-index:100; background-color:#333;}
	#header_logo_wh{opacity:0;}
	#header_logo_wh>a{display:block; width:110px; margin-top:25px;}
	#header_logo_wh>a>img{width:100%;}
	#header_menus{opacity:0;}
	#header_gnb{height:81px; height:0; overflow:hidden;}
	#header_gnb>ul{width:340px;}
	#header_gnb>ul:after{content:""; display:block; clear:both;}
	#header_gnb>ul>li{float:right;}
	#header_gnb>ul>li+li{margin-right:30px;}
	#header_gnb>ul>li>a{color:#f5f5f5; line-height:81px; font-size:14px; font-weight:500; letter-spacing:2px;}
	#header_btn{position:absolute; width:216px; height:35px; top:80px; top:0; left:50%; margin-left:-108px; background:url(../images/header_bar.png) no-repeat center; background-size:cover;}
	#header_btn>div{text-align:center; width:46px; margin:0 auto; cursor:pointer;}
	#header_btn>div>i{color:#f5f5f5; font-size:20px; line-height:35px;}
/*-----------------tablet 디자인--------------------*/
	#header_gnb.tablet{width:100%;}
	#header_gnb.tablet>#header_logo_wh{width:100%; height:50px;}
	#header_gnb.tablet>#header_logo_wh>a{width:120px; line-height:40px; margin:20px auto;}
	#header_gnb.tablet>#header_logo_wh>a>img{}
	#header_gnb.tablet>#header_menus{padding-right:calc(50% - 218px) !important;}
	#header_gnb.tablet>#header_menus>li{}
	#header_gnb.tablet>#header_menus>li+li{margin-right:30px;}
	#header_gnb.tablet>#header_menus>li>a{line-height:25px; font-size:16px;}

/*-----------------mobile 디자인--------------------*/
	#header_gnb.mobile{width:100%;}
	#header_gnb.mobile>#header_logo_wh{width:100%; height:50px;}
	#header_gnb.mobile>#header_logo_wh>a{width:120px; line-height:40px; margin:20px auto;}
	#header_gnb.mobile>#header_logo_wh>a>img{}
	#header_gnb.mobile>#header_menus{}
	#header_gnb.mobile>#header_menus{padding:0 calc(50% - 75px) 0 calc(50% - 75px) !important;}
	#header_gnb.mobile>#header_menus>li{float:left;}
	#header_gnb.mobile>#header_menus>li+li{margin-top:18px; margin-right:0;}
	#header_gnb.mobile>#header_menus>li>a{display:block; width:150px; margin:0 auto; line-height:20px; font-size:18px; font-weight:bold; text-align:center;}

/*------------------------------
-----------해더 디자인-----------
------------------------------*/
header#header{position:relative; z-index:50;}
#header_logo>a{display:block; width:120px; margin:0 auto;}
#header_logo>a>img{display:block; width:100%;}
#header_menu{}
#header_menu:after{content:""; display:block; clear:both;}
#header_menu>div{float:right;}
#header_menu>div:hover>div{background-color:#f5f5f5; color:#333;}
#header_menu>div+div{margin-right:10px;}
#header_menu>div>div{line-height:40px; border:1px solid #bbb; border-radius:25px; transition:0.5s;}
#header_menu>div>div>i{line-height:40px;}

/*----------메인 서치-----------*/
	#search_box{position:relative; width:100%; height:40px; background:#fff; border-radius:25px;}
	#search_box>form{position:absolute; right:0; width:100%; height:40px; border:1px solid #bbb; border-radius:25px; overflow:hidden; box-sizing:border-box; padding-left:0; padding-right:0;}
	#search_box>form>input{border:none; width:calc(100% - 60px); height:25px; margin-left:15px; margin-top:7.5px; font-size:14px;}
	#search_box>div{position:absolute; right:0; width:40px; height:40px; border-radius:25px; text-align:center;}
	#search_btn{background-color:#fff;  border:1px solid #bbb;}
	#search_btn>i{line-height:40px;}

/*---------메인 로그인----------*/
	#login_btn{width:120px; background-color:#333; color:#f5f5f5;}

/*----------메인 구매-----------*/
	#purchase_btn{width:120px; font-size:14px; background-color:#333; color:#f5f5f5;}

/*------------------------------
--------로그인 모달 디자인--------
------------------------------*/
.modal-header{border:none; padding-bottom:0;}
.modal-footer{border:none;}

#login_modal{width:300px; left:50%; margin-left:-150px; padding-right:0 !important; top:20%;}
#login_modal>div>div{border-radius:20px;}
#login_modal>div>div>div>form>input{display:block; letter-spacing:2px; width:80%; margin:10px auto 0 auto; font-size:10px; border:1px solid #ddd; border-radius:10px; padding-left:20px; line-height:30px;}
#login_modal>div>div>div>form>input+input{margin-top:5px;}

#login_modal>div>div>div.modal-footer{width:210px; margin:0 auto;}
#login_modal>div>div>div>button{font-size:12px; width:100px; height:30px;}
#login_modal>div>div>div>button+button{left:10px;}

/*------------------------------
--------실시간차트 디자인--------
------------------------------*/
#real_chart{height:530px;}
#real_chart>li{margin-bottom:5px}
#real_chart>li>a{display:block; position:relative; height:40px; border:1px solid #bbb; background:#f5f5f5; border-radius:20px; _transition:0.3s;}
#real_chart>li>a:after{content:""; display:block; clear:both;}
#real_chart>li>a>p{float:left; margin-bottom:0; line-height:40px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#real_chart>li>a>img{_display:none; position:absolute; top:10px; left:12%; width:100px; height:100px; border-radius:5px; transition:0s; opacity:0;}	
	.rankNum{width:13.55%; text-align:center; border-radius:20px 0 0 20px; font-size:14px; font-weight:bold;}
	.rankTit{width:50%; font-size:13px;}
	.rankAut{width:21%; font-size:11px;}
	.rankSta{width:15.28%; text-align:center; border-radius:0 20px 20px 0; font-size:12px; font-weight:600;}
	.rankSta>i{padding-left:3px; font-size:12px; margin-top:12px;}
	.rankSta.down{color:blue;}
	.rankSta.up{color:red;}
	.rankSta.mid{color:grey;}

#real_chart>li.on>a{height:120px; background-color:#fff;}
#real_chart>li.on>a>img{_display:block; opacity:1; transition:0.5s;}
#real_chart>li.on>a>.rankNum{font-size:25px; margin-top:5px;}
#real_chart>li.on>a>.rankTit{position:absolute; width:40%; top:40px; left:50%; line-height:20px; font-size:16px; font-weight:bold;}
#real_chart>li.on>a>.rankAut{position:absolute; width:40%; top:60px; left:50%; line-height:20px; font-size:12px;}
#real_chart>li.on>a>.rankSta{float:right;}

/*----------------------------------
--------실시간차트 스몰 디자인--------
----------------------------------*/
#real_chart_sm{position:relative; width:100%; height:35px; border:1px solid #bbb; background-color:#fff; border-radius:15px; overflow:hidden;}
#real_chart_sm>ul{position:absolute; width:100%; height:350px;}
#real_chart_sm>ul>li{}
#real_chart_sm>ul>li:after{content:""; display:block; clear:both;}
#real_chart_sm>ul>li>p{float:left; line-height:35px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
	.rankNum_sm{width:15%; text-align:center; font-size:14px; font-weight:bold;}
	.rankTit_sm{width:40%; font-size:13px; letter-spacing:1px;}
	.rankAut_sm{width:30%; font-size:11px;}
	.rankSta_sm{width:15%; text-align:center; font-size:12px; font-weight:600;}
	.rankSta_sm>i{padding-left:3px; font-size:12px; margin-top:12px;}
	.rankSta_sm.down{color:blue;}
	.rankSta_sm.up{color:red;}
	.rankSta_sm.mid{color:grey;}

/*--------------------------------------
---------------최신음악 css--------------
--------------------------------------*/
#new_song{height:280px; overflow:hidden; border:1px solid #bbb; border-radius:20px; background-color:#fff;}
#new_song>ul{height:280px; width:calc(100% + 10px); overflow-y:scroll;  box-shadow: -10px -2px 15px -3px rgba(0,0,0,0.5) inset;}
#new_song>ul>li{position:relative; cursor:pointer;}
#new_song>ul>li:after{content:""; display:block; clear:both;}
#new_song>ul>li:hover{background-color:#f5f5f5;}
#new_song>ul>li:nth-of-type(n+2){border-top:1px solid #ddd;}

#new_song>ul>li>div:nth-of-type(1){float:left; width:8%; margin-top:18px; box-sizing:border-box;}
#new_song>ul>li>div>label{margin:0 auto;}
#new_song>ul>li>img{display:block; float:left; width:40px; margin-top:5px;}

#new_song>ul>li>div:nth-of-type(2){float:left; width:calc(75% - 40px);}
#new_song>ul>li>div:nth-of-type(2)>span{display:inline-block; font-size:14px;}
	.song_tit{width:calc(60% - 40px); line-height:50px; padding-left:5%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
	.song_aut{width:20%; line-height:50px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
	.song_alb{width:20%; line-height:50px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

#new_song>ul>li>div:nth-of-type(3){float:left; width:15%;}
#new_song>ul>li>div:nth-of-type(3):after{content:""; display:block; clear:both;}
#new_song>ul>li>div:nth-of-type(3)>a{display:block; float:left; width:30%; font-size:12px; line-height:50px;}
#new_song>ul>li>div:nth-of-type(3)>a>i{line-height:50px;}
#new_song>ul>li>div:nth-of-type(3)>a+a{margin-left:5%;}

#new_album{}
#new_album>div{position:relative; width:100%; height:180px; overflow:hidden;}
#new_album>div>div{position:absolute; width:20px; height:180px; background:#e5e5e5; z-index:30; cursor:pointer; text-align:center;}
#new_album>div>div>div>i{line-height:170px; color:#f5f5f5;}
#new_album>div>ul{position:absolute; width:1395px; top:0; height:180px; left:25px; overflow:hidden;}
#new_album>div>ul:after{content:""; display:block; clear:both;}
#new_album>div>ul>li{position:relative; float:left; width:170px; height:170px; cursor:pointer; box-shadow:0px 3px 15px -5px rgba(0,0,0,0.5);}
#new_album>div>ul>li>img{display:block; position:absolute; top:0; left:0; width:100%; height:100%;}
#new_album>div>ul>li+li{margin-left:5px;}

#new_album>div>ul>li>div{position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.8); opacity:0; transition:0.5s; z-index:10}
#new_album>div>ul>li:hover>div{opacity:1;}
#new_album>div>ul>li>div>p{color:#f5f5f5; font-weight:bold; text-align:center;}
#new_album>div>ul>li>div>p:nth-of-type(1){font-size:15px;  padding-top:50px;}
#new_album>div>ul>li>div>p:nth-of-type(2){font-size:12px; padding-top:40px;}
#new_album>div>ul>li>div>p:nth-of-type(3){font-size:11px;}
	#right_btn{right:0;}
	#left_btn{left:0;}
	#right_btn>div{background-color:#333; border-radius:0 20px 20px 0;}
	#left_btn>div{background-color:#333; border-radius:20px 0 0 20px;}

/*--------------------------------------
------------장르 뮤직 css-------------
--------------------------------------*/
#genre_tab{}
	#tab_nav{}
	#tab_nav>li{}
	#tab_nav>li>a{border-radius:0;}
	#tab_nav>li+li>a{border-left-width:0;}
	#tab_nav>li:first-child>a{border-top-left-radius:15px;}
	#tab_nav>li:last-child>a{border-top-right-radius:15px;}
	#tab_nav>li>a{font-weight:bold; font-size:12px; border:1px solid #bbb; border-width:1px 1px 0 1px;}

	#tab_contents{border:1px solid #bbb; margin-top:-1px; border-bottom-left-radius:15px; border-bottom-right-radius:15px; background:#fff;}
	#tab_contents>div{}
	#tab_contents>div>ul{column-count:2;}
	#tab_contents>div>ul:after{content:""; display:block; clear:both;} 
	#tab_contents>div>ul>li{_float:left; _width:300px;}
	#tab_contents>div>ul>li>img{}
	#tab_contents>div>ul>li>div{}
	#tab_contents>div>ul>li>div>h6{line-height:20px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
	#tab_contents>div>ul>li>div>p{font-size:11px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
	#tab_contents>div>ul>li>div>p:nth-of-type(1){}
	#tab_contents>div>ul>li>div>p:nth-of-type(2){}
	#tab_contents>div>ul>li>div>p:nth-of-type(3){}
	#tab_contents>div>ul>li>div>p:nth-of-type(4){}
	#tab_contents>div>ul>li>div>p:nth-of-type(5){}

	#tab_contents>div>ul>li>div>a{display:inline-block; margin-top:15px;}
	#tab_contents>div>ul>li>div>a:nth-of-type(1){font-size:14px;}
	#tab_contents>div>ul>li>div>a:nth-of-type(2){}
	#tab_contents>div>ul>li>div>a:nth-of-type(3){}

/*-----------------------------------------
------------장르스몰 뮤직 페이지-------------
------------------------------------------*/
#tab_thumb{display:none; width:100%; max-width:100%;}
#tab_thumb>ul{width:100%;}
#tab_thumb>ul>li{flex:0 0 32%; border:1px solid #bbb; border-radius:8px; background:#fff;}
#tab_thumb>ul>li:nth-of-type(3n+1){margin-left:0;}
#tab_thumb>ul>li:nth-of-type(n+4){margin-top:8px;}
#tab_thumb>ul>li+li{margin-left:2%;}
#tab_thumb>ul>li>a{display:block; width:100%; height:120px; line-height:120px; font-size:14px; text-align:center;}

/*-------------------------------------------
----------------뮤직 포스트 CSS---------------
--------------------------------------------*/
#music_post{}
#music_post>ul{}
#music_post>ul>li{}
#music_post>ul>li>a{display:block;}
#music_post>ul>li>a:after{content:""; display:block; clear:both;}
#music_post>ul>li>a>img{display:block; float:left; width:150px;}
#music_post>ul>li>a>div{float:left; width:420px;}
#music_post>ul>li>a>div>p:nth-of-type(1){font-size:14px; font-weight:bold;}
#music_post>ul>li>a>div>p:nth-of-type(2){font-size:12px;}

/*-------------------------------------------
-------------------푸터 CSS------------------
--------------------------------------------*/

footer#footer{_display:none; width:100%; _height:130px; background:#222;}
footer#footer>div{height:100%;}
footer#footer>div>div.row{width:100%;}
footer#footer>div>div.row>div{margin-top:50px;}
footer#footer>div>div.row>div:nth-of-type(1){}
footer#footer>div>div.row>div:nth-of-type(1)>a>img{display:block; width:80px; margin:0 auto;}
footer#footer>div>div.row>div:nth-of-type(2){color:#999;}
footer#footer>div>div.row>div:nth-of-type(2)>ul{}
footer#footer>div>div.row>div:nth-of-type(2)>ul:after{content:""; display:block; clear:both;}
footer#footer>div>div.row>div:nth-of-type(2)>ul>li{float:left; padding:0 30px;}
footer#footer>div>div.row>div:nth-of-type(2)>ul>li:first-child{padding-left:0;}
footer#footer>div>div.row>div:nth-of-type(2)>ul>li+li{border-left:1px solid #999;}
footer#footer>div>div.row>div:nth-of-type(2)>ul>li>a{display:block; line-height:15px; color:#999; font-size:12px;}
footer#footer>div>div.row>div:nth-of-type(2)>div{font-size:12px;}

/*-------------------------------------------
------------실시간 차트 페이지 CSS------------
--------------------------------------------*/

#real_chart_page_list{width:100%;}
#real_chart_page_list:after{content:""; display:block; clear:both;}
#real_chart_page_list>li{float:left; font-size:14px; color:#333; text-align:center;}
#real_chart_page_list>li:nth-of-type(1){width:10%;}
#real_chart_page_list>li:nth-of-type(2){width:35%;}
#real_chart_page_list>li:nth-of-type(3){width:25%;}
#real_chart_page_list>li:nth-of-type(4){width:18%;}
#real_chart_page_list>li:nth-of-type(5){width:12%;}

#real_chart_page{}
#real_chart_page>li{margin-bottom:5px}
#real_chart_page>li>a{display:block; position:relative; width:96%; margin:0 auto; height:60px; background:#ededed; border:1px solid #bbb; border-radius:20px; transition:0.5s; box-sizing:border-box;}
#real_chart_page>li>a:after{content:""; display:block; clear:both;}
#real_chart_page>li>a>p{float:left; margin-bottom:0; line-height:60px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; transition:0.5s;}
#real_chart_page>li>a>p>i{line-height:60px;}
#real_chart_page>li>a>img{float:left; margin-top:5px; width:50px; border-radius:5px; margin-right:20px; transition:0.5s;}	
	
	.page_rankNum{width:10%; text-align:center; font-size:14px;}
	.page_rankTit{width:calc(40% - 70px); font-size:16px;}
	.page_rankAut{width:20%; font-size:12px;}
	.page_rankAlb{width:20%; font-size:12px; text-align:center;}

	.page_rankSta{width:10%; text-align:center; font-size:12px; font-weight:600;}
	.page_rankSta>i{font-size:12px;}
	
	.page_rankSta.down{color:blue;}
	.page_rankSta.up{color:red;}
	.page_rankSta.mid{color:grey;}

#real_chart_page>li.on>a{height:110px; background-color:#fff; border-color:#bbb; border-width:3px; width:100%;}
#real_chart_page>li.on>a>img{width:90px; margin-top:7px;}
#real_chart_page>li.on>a>p{line-height:110px;}
#real_chart_page>li.on>a>p>i{margin-top:10px;}
#real_chart_page>li.on>a>.page_rankNum{font-size:28px; font-weight:800;}
#real_chart_page>li.on>a>.page_rankTit{font-size:21px; width:calc(40% - 110px);}
#real_chart_page>li.on>a>.page_rankAut{font-size:16px;}
#real_chart_page>li.on>a>.page_rankAlb{font-size:16px;}
#real_chart_page>li.on>a>.page_rankSta{font-size:18px;}
#real_chart_page>li.on>a>.page_rankSta>i{}

#real_chart_page>li.around>a{height:85px; background-color:#f5f5f5; width:98%;}
#real_chart_page>li.around>a>img{width:70px; margin-top:7.5px;}
#real_chart_page>li.around>a>p{line-height:85px;}
#real_chart_page>li.around>a>p>i{line-height:85px;}
#real_chart_page>li.around>a>.page_rankNum{font-size:20px;}
#real_chart_page>li.around>a>.page_rankTit{font-size:18px; width:calc(40% - 90px);}
#real_chart_page>li.around>a>.page_rankSta{font-size:14px;}
#real_chart_page>li.around>a>.page_rankSta>i{}

/*-------------------------------------------
------------최신 음악 페이지 CSS------------
--------------------------------------------*/
#new_music{}
#new_music>div>div>h5{text-align:center;}
	#new_song_page{margin-bottom:30px; overflow:hidden; border:1px solid #bbb; border-radius:20px; background-color:#fff;}
	#new_song_page>ul{width:calc(100% + 10px); overflow-y:scroll; overflow-x:hidden; box-shadow: -10px -2px 15px -3px rgba(0,0,0,0.5) inset;}
	#new_song_page>ul>li{position:relative; cursor:pointer;}
	#new_song_page>ul>li:after{content:""; display:block; clear:both;}
	#new_song_page>ul>li:hover{background-color:#f5f5f5;}
	#new_song_page>ul>li:nth-of-type(n+2){border-top:1px solid #ddd;}

	#new_song_page>ul>li>div:nth-of-type(1){float:left; width:13%; box-sizing:border-box;}
	#new_song_page>ul>li>div>label{width:100%; height:100%; text-align:center; padding:70% 0;}
	#new_song_page>ul>li>div>label>input{vertical-align:middle;}
	#new_song_page>ul>li>img{display:block; float:left; width:10%; margin:2% 0;}

	#new_song_page>ul>li>div:nth-of-type(2){float:left; width:50%;}
	#new_song_page>ul>li>div:nth-of-type(2)>span{display:block; width:100%; line-height:20px; padding-left:7%;}
		
		.song_tit_page{font-size:16px; margin-top:15px; font-weight:bold; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
		.song_aut_page{font-size:12px; color:#999; margin-top:2%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
		.song_alb_page{font-size:12px; color:#999; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

	#new_song_page>ul>li>div:nth-of-type(3){float:left; width:15%;}
	#new_song_page>ul>li>div:nth-of-type(3):after{content:""; display:block; clear:both;}
	#new_song_page>ul>li>div:nth-of-type(3)>a{display:block; float:left; width:30%; font-size:12px; line-height:50px;}
	#new_song_page>ul>li>div:nth-of-type(3)>a>i{line-height:50px;}
	#new_song_page>ul>li>div:nth-of-type(3)>a+a{margin-left:5%;}


	#new_album_page{margin-bottom:30px; overflow:hidden; border:1px solid #bbb; border-radius:20px; background-color:#fff;}
	#new_album_page>div{position:relative; width:100%; _height:300px; overflow:hidden;}
	#new_album_page>div>ul:nth-of-type(1){display:none;}
	#new_album_page>div>ul:nth-of-type(1)>li>{}
	#new_album_page>div>ul:nth-of-type(1)>li>img{cursor:pointer;}

	#new_album_page>div>ul:nth-of-type(2){padding-left:10px;}
	#new_album_page>div>ul:nth-of-type(2):afetr{content:""; display:block; clear:both;}
	#new_album_page>div>ul:nth-of-type(2)>li{_float:left; position:relative; width:120px; box-shadow:0 -5px 8px -2px rgba(0,0,0,0.3); transition:0.5s; z-index:0;}
	#new_album_page>div>ul:nth-of-type(2)>li:hover{margin-left:50px;}
	#new_album_page>div>ul:nth-of-type(2)>li+li{margin-top:-80px;}
	#new_album_page>div>ul:nth-of-type(2)>li>img{width:100%; cursor:pointer;}

	

	#new_album_page>div>ul>li>div{position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.8); opacity:0; transition:0.5s; z-index:10}
	#new_album_page>div>ul>li:hover>div{opacity:1;}
	#new_album_page>div>ul>li>div>p{color:#f5f5f5; font-weight:bold; text-align:center;}
	#new_album_page>div>ul>li>div>p:nth-of-type(1){font-size:15px;  padding-top:50px;}
	#new_album_page>div>ul>li>div>p:nth-of-type(2){font-size:12px; padding-top:40px;}
	#new_album_page>div>ul>li>div>p:nth-of-type(3){font-size:11px;}

/*-----------------------------------------
------------미디어쿼리 CSS 페이지------------
-------------------------------------------*/
@media (min-width: 992px){
	h5{text-align:left;}
	#genre_tab>ul>li>a{font-weight:bold; font-size:16px;}
	#tab_contents>div>ul{column-count:5;}	
	#header_logo>a{margin:0;}

	/*-------------------- 실시간차트 page css --------------------*/
}

@media (min-width: 768px) and (max-width: 991px){
	h5{text-align:left;}
	.container{max-width:95%;}
	#genre_tab>ul>li>a{font-weight:bold; font-size:16px;}
	#tab_contents>div>ul{column-count:4;}

	/*-------------------- 실시간차트 page css --------------------*/
	.page_rankNum{width:15%; text-align:center;}
	.page_rankTit{width:calc(45% - 70px);}
	.page_rankAut{width:25%;}
	.page_rankAlb{display:none;}
	.page_rankSta{width:15%;}

	#real_chart_page_list>li:nth-of-type(1){width:18%;}
	#real_chart_page_list>li:nth-of-type(2){width:40%;}
	#real_chart_page_list>li:nth-of-type(3){width:25%;}
	#real_chart_page_list>li:nth-of-type(4){display:none;}
	#real_chart_page_list>li:nth-of-type(5){width:17%;}
	
	#real_chart_page>li.on>a>.page_rankTit{width:calc(45% - 110px);}
	#real_chart_page>li.around>a>.page_rankTit{width:calc(45% - 90px);}
	/*------------------------- 푸터 css -------------------------*/
	footer#footer>div>div.row>div:nth-of-type(2)>ul{width:425px; margin-bottom:10px;}
	footer#footer>div>div.row>div:nth-of-type(2)>ul>li{padding:0 20px;}
}

@media (min-width: 576px) and (max-width: 767px){
	h5{font-size:18px;}	
	.container{max-width:95%;}
	#tab_contents>div>ul{column-count:3;}
	
	/*-------------------- 로그인&이용권 css --------------------*/
	#login_btn{width:80px;}
	#purchase_btn{width:80px;}
	
	/*-------------------- 실시간차트 page css --------------------*/
	.page_rankNum{width:15%; text-align:center;}
	.page_rankTit{width:calc(45% - 70px);}
	.page_rankAut{width:25%;}
	.page_rankAlb{display:none;}
	.page_rankSta{width:15%;}

	#real_chart_page_list>li:nth-of-type(1){width:18%;}
	#real_chart_page_list>li:nth-of-type(2){width:40%;}
	#real_chart_page_list>li:nth-of-type(3){width:25%;}
	#real_chart_page_list>li:nth-of-type(4){display:none;}
	#real_chart_page_list>li:nth-of-type(5){width:17%;}
	
	#real_chart_page>li.on>a>.page_rankTit{width:calc(45% - 110px);}
	#real_chart_page>li.around>a>.page_rankTit{width:calc(45% - 90px);}

	/*------------------------- 푸터 css -------------------------*/
	footer#footer>div>div.row>div:nth-of-type(2)>ul{width:365px; margin:0 auto; margin-bottom:10px;}
	footer#footer>div>div.row>div:nth-of-type(2)>ul>li{padding:0 20px;}
}

@media (min-width:500px) and (max-width: 575px){
	h5{font-size:18px;}
	.container{max-width:95%;}

	/*-------------------- 최신곡 css --------------------*/
	.song_tit{width:calc(80% - 40px);}
	.song_aut{width:20%;}
	.song_alb{display:none !important;}

	/*-------------------- 장르음악 css --------------------*/
	#tab_contents>div>ul{column-count:1;}
	#tab_contents>div>ul>li{display:block;}
	#tab_contents>div>ul>li>img{height:100%;}
	.card-columns>.card:after{content:""; display:block; clear:both;}
	.card-columns>.card>.card-img-top{display:block; float:left !important; width:35%; box-sizing:border-box;}
	.card-columns>.card>.card-body{display:block; float:left !important; _width:50%; box-sizing:border-box;}
	
	/*-------------------- 로그인&이용권 css --------------------*/
	#login_btn{width:80px;}
	#purchase_btn{width:80px;}

	/*-------------------- 실시간차트 page css --------------------*/
	.page_rankNum{width:15%; text-align:center;}
	.page_rankTit{width:calc(45% - 70px);}
	.page_rankAut{width:25%;}
	.page_rankAlb{display:none;}
	.page_rankSta{width:15%;}

	#real_chart_page_list>li:nth-of-type(1){width:18%;}
	#real_chart_page_list>li:nth-of-type(2){width:40%;}
	#real_chart_page_list>li:nth-of-type(3){width:25%;}
	#real_chart_page_list>li:nth-of-type(4){display:none;}
	#real_chart_page_list>li:nth-of-type(5){width:17%;}
	
	#real_chart_page>li.on>a>.page_rankTit{width:calc(45% - 110px);}
	#real_chart_page>li.around>a>.page_rankTit{width:calc(45% - 90px);}

	/*------------------------- 푸터 css -------------------------*/
	footer#footer>div>div.row>div:nth-of-type(2)>ul{width:365px; margin:0 auto; margin-bottom:10px;}
	footer#footer>div>div.row>div:nth-of-type(2)>ul>li{padding:0 20px;}
}

@media (max-width:499px){
	h5{font-size:18px;}
	.container{max-width:95%;}

	#tab_nav{display:none;}
	#tab_contents{display:none;}
	#tab_thumb{display:block;}

	/*-------------------- 최신곡 css --------------------*/
	.song_tit{width:73%;}
	.song_aut{width:25%;}
	.song_alb{display:none !important;}

	#new_song>ul>li>div:nth-of-type(2)>span:nth-of-type(2){font-size: 12px;}
	#new_song>ul>li>div:nth-of-type(2){float:left; width:75%;}
	#new_song>ul>li>img{display:none;}
	
	/*-------------------- 장르음악 css --------------------*/
	#genre_tab>ul>li>a{font-weight:bold; font-size:12px;}
	
	#new_song{height:200px;}
	#new_song>ul{height:200px;}

	#tab_contents>div>ul>li>div>a{margin-top:10px;}
	.card-body{padding: 5px 1rem;}

	/*-------------------- 로그인&이용권 css --------------------*/
	#header_menu>div{width:calc(50% - 5px);}
	#login_btn{width:100%;}
	#purchase_btn{width:100%;}

	/*-------------------- 실시간차트 page css --------------------*/
	.page_rankNum{width:15%; text-align:center;}
	.page_rankTit{width:calc(45% - 60px);}
	.page_rankAut{width:25%;}
	.page_rankAlb{display:none;}
	.page_rankSta{width:15%;}

	#real_chart_page_list>li:nth-of-type(1){width:18%;}
	#real_chart_page_list>li:nth-of-type(2){width:40%;}
	#real_chart_page_list>li:nth-of-type(3){width:25%;}
	#real_chart_page_list>li:nth-of-type(4){display:none;}
	#real_chart_page_list>li:nth-of-type(5){width:17%;}

	
	#real_chart_page>li>a{height:50px;}
	#real_chart_page>li.around>a{height:60px;}
	#real_chart_page>li.on>a{height:80px;}

	#real_chart_page>li>a>img{width:40px; margin-top:5px;}
	#real_chart_page>li.around>a>img{width:50px; margin-top:5px;}
	#real_chart_page>li.on>a>img{width:70px; margin-top:5px;}

	#real_chart_page>li.on>a>.page_rankNum{font-size:22px;}
	#real_chart_page>li.on>a>.page_rankAut{font-size:10px;}
	#real_chart_page>li.on>a>.page_rankSta{font-size:12px;}
	#real_chart_page>li.around>a>.page_rankNum{font-size:22px;}
	#real_chart_page>li.around>a>.page_rankAut{font-size:10px;}
	#real_chart_page>li.around>a>.page_rankSta{font-size:12px;}
	
	#real_chart_page>li>a>p{line-height:50px;}
	#real_chart_page>li>a>p>i{line-height:50px;}
	#real_chart_page>li.around>a>p{line-height:60px;}
	#real_chart_page>li.on>a>p{line-height:80px;}
	#real_chart_page>li.around>a>p>i{line-height:60px;}
	#real_chart_page>li.on>a>p>i{line-height:60px;}


	#real_chart_page>li.around>a>.page_rankTit{font-size:16px; width:calc(45% - 70px);}
	#real_chart_page>li.on>a>.page_rankTit{font-size:18px; width:calc(45% - 90px);}

	/*------------------------- 푸터 css -------------------------*/
	footer#footer>div>div.row>div:nth-of-type(2)>ul{width:295px; margin:0 auto; margin-bottom:10px;}
	footer#footer>div>div.row>div:nth-of-type(2)>ul>li{float:left; padding:0 10px;}
}